.homebtn1{
    height: 45px; margin-top: 40px; margin-bottom: 40px; margin-left: 30px; width: 100px; border-radius: 5px;
}
.home-rd{
    border-radius: 30px;
}
.classdgr{
    text-align: center; font-family: 'Tapestry', cursive;
}
.justin{
    text-align:justify content center;

}