/* .cardsize{
    box-shadow: 0 4px 8px 0 rgba(243, 231, 231, 0.2);
    transition: 0.10s;
    border-radius:  5px rounded corners;
    display: flex; flex-wrap: wrap;
    height: max-content;

}    */